*{
    margin: 0;
    font-family: arial;
    border: border-box;   
}

.nav-item:hover a{
    scale: 1.2;
    
}

i{
    color:white;
    height: 30px;
    width: 40px;    
}



.container-fluid{
   background-color: lightpink;
}

h5{
    text-align: center;
}


/* /foot-panel1 */
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;

}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
}

ul a{
    font-size: 0.85rem;
    color: #dddddd;
  
}

ul p{
    margin-top: 20px;
    color: rgb(189, 205, 199);
}

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    align-items: center;
    justify-content: center;
    height: 70px;
    display: flex;
    
}

.foot-panel4{
    background-color: #37475a;
    color: white;
    height: 100px;
    text-align: center;
    font-size: 0.7rem;
}
   


.pages{
    padding-top: 25px;
}
.copyright{
    padding: 5px;
}
/* Foot Panel1 */
.back a{
    text-decoration: none;
    color: white;
}
/* card hover effect */
.card:hover img {
    scale: 1.2;
}
.table{
    margin-top: 10px;
    /* box-shadow: 10px 10px 200px; */
}

